---
import MainLayout from "@/layouts/main.astro";
import Logo from "@/components/Logo.astro";

import Search from "@/components/Search.vue";
import WhySection from "@/sections/why.astro";
import HowSection from "@/sections/how.astro";
import NbSection from "@/sections/nb.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
---

<MainLayout>
  <div class="relative min-h-screen flex flex-col">
    <Header />
    <main class="w-full flex-1 flex flex-col justify-center items-center">
      <Logo />
      <Search client:load />
    </main>
  </div>

  <WhySection />
  <HowSection />
  <NbSection />

  <Footer />
</MainLayout>
